.container {
  margin: 0 auto;
  max-width: 1024px;
  background-color: var(--color-background);
  padding: 16px;
  border-radius: 0 0 8px 8px;
  text-align: center;
  position: relative;
}

.title {
  margin: 16px 0;
}

.success {
  text-align: center;
  padding: 4px;
  width: 100%;
  background: var(--color-success);
  color: var(--color-text-in-primary);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.error {
  text-align: center;
  padding: 4px;
  width: 100%;
  background: var(--color-primary-darker);
  color: var(--color-text-in-primary);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
