* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}
button {
  cursor: pointer;
}

:root {
  --color-background: #F0F0F7;
  --color-primary-lighter: #ff4646;
  --color-primary-light: #ff2b2b;
  --color-primary: #FB0907;
  --color-primary-dark: #eb1010;
  --color-primary-darker: #cc1010;
  --color-secundary: #FFB400;
  --color-secundary-dark: #d89f19;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #FFFFFF;
  --color-text-title: #333;
  --color-text-complement: #9C98A6;
  --color-text-base: #686868;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
  --color-success: #1db908;
}
